################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dev-docs/guide/Comparing-Migrated-Code-with-Magic/eDevelopper/Task-Control-Screen.md
